<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ydj.ttswap.mapper.CoinOrderMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ydj.ttswap.entity.CoinOrderEntity" id="coinOrderMap">
        <result property="id" column="id"/>
        <result property="tb" column="tb"/>
        <result property="hydz" column="hydz"/>
        <result property="mc" column="mc"/>
        <result property="lz" column="lz"/>
        <result property="cjsj" column="cjsj"/>
    </resultMap>


</mapper>