<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ydj.ttswap.mapper.CoinDealerMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ydj.ttswap.entity.CoinDealerEntity" id="coinDealerMap">
        <result property="id" column="id"/>
        <result property="bsqb" column="bsqb"/>
        <result property="jc" column="jc"/>
        <result property="qc" column="qc"/>
        <result property="ywjc" column="ywjc"/>
        <result property="ywqc" column="ywqc"/>
        <result property="bzj" column="bzj"/>
        <result property="zt" column="zt"/>
        <result property="cjsj" column="cjsj"/>
        <result property="gxsj" column="gxsj"/>
    </resultMap>


</mapper>