<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ydj.ttswap.mapper.GatorMarketorMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ydj.ttswap.entity.GatorMarketorEntity" id="gatorMarketorMap">
        <result property="id" column="id"/>
        <result property="zh" column="zh"/>
        <result property="mc" column="mc"/>
        <result property="ljsc" column="ljsc"/>
        <result property="cjsj" column="cjsj"/>
    </resultMap>


</mapper>