<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ydj.ttswap.mapper.GatorApplyResultMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ydj.ttswap.entity.GatorApplyResultEntity" id="gatorApplyResultMap">
        <result property="id" column="id"/>
        <result property="dz" column="dz"/>
        <result property="yj" column="yj"/>
        <result property="shy" column="shy"/>
        <result property="cjsj" column="cjsj"/>
    </resultMap>


</mapper>