<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ydj.ttswap.mapper.OrderChangeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ydj.ttswap.entity.OrderChangeEntity" id="orderChangeMap">
        <result property="ddid" column="ddid"/>
        <result property="ddzt" column="ddzt"/>
        <result property="js" column="js"/>
        <result property="dz" column="dz"/>
        <result property="ztsj" column="ztsj"/>
        <result property="sfsj" column="sfsj"/>
        <result property="sfyy" column="sfyy"/>
        <result property="cjsj" column="cjsj"/>
    </resultMap>


</mapper>