<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ydj.ttswap.mapper.VoucherMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ydj.ttswap.entity.VoucherEntity" id="voucherMap">
        <result property="ddid" column="ddid"/>
        <result property="ddzt" column="ddzt"/>
        <result property="js" column="js"/>
        <result property="tppz" column="tppz"/>
        <result property="sppz" column="sppz"/>
        <result property="cjsj" column="cjsj"/>
    </resultMap>


</mapper>